<div class="w3l_banner_nav_right">
    <!-- login -->
            <div class="w3_login">
                <h3>Sign In & Sign Up</h3>
                <div class="w3_login_module">
                    <div class="module form-module">
                      <div class="toggle"><i class="fa fa-times fa-pencil"></i>
                        <div class="tooltip">Click Me</div>
                      </div>
                      <div class="form">
                        <h2>Login to your account</h2>
                        <form action="#" method="post">
                          <input type="text" name="Username" placeholder="Username" required=" ">
                          <input type="password" name="Password" placeholder="Password" required=" ">
                          <input type="submit" value="Login">
                        </form>
                      </div>
                      <div class="form">
                        <h2>Create an account</h2>
                        <form (submit)="onSignInFormSubmit(f)" #f="ngForm">
                          <input type="text" name="Username" placeholder="Username" #userName="ngModel" required ngModel minlength="4">
                          <!-- {{userName.errors | json }} -->
                          <p class="alert alert-danger" *ngIf="(userName.touched || userName.dirty) && userName.errors?.['required']">
                            Pleae Enter User Name
                          </p>
                          <p class="alert alert-danger" *ngIf="userName.touched && userName.errors?.['minlength']">
                            Pleae Enter Minimum 2 Character
                          </p>
                          <input type="password" name="Password" placeholder="Password" 
                          pattern="^(?=.{8,})(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&+=]).*$" required ngModel #userPasword="ngModel" minlength="8">
                          <p class="alert alert-danger" *ngIf="(userPasword.touched || userPasword.dirty) && userPasword.errors?.['required']">
                              Please Enter Pasword
                          </p>
                          <p class="alert alert-danger" *ngIf="(userPasword.touched || userPasword.dirty) && userPasword.errors?.['pattern']">
                            Password Must Contains (Uppercase & Lowercase letters, Number and Special Char)
                        </p>
                        <p class="alert alert-danger" *ngIf="userPasword.touched && userPasword.errors?.['minlength']">
                          Password should be minmum 8 char
                      </p>
                          <input type="email" name="Email" placeholder="Email Address" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required ngModel #userEmail="ngModel">
                          <p class="alert alert-danger" *ngIf="(userEmail.touched || userEmail.dirty) && userEmail.errors?.['pattern']">
                            Please Enter Email
                          </p>
                          <input type="text" name="Phone" placeholder="Phone Number" required #userMobileNum="ngModel" ngModel pattern="^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$">

                          <p class="alert alert-danger" *ngIf="(userMobileNum.touched || userMobileNum.dirty) && userMobileNum.errors?.['required']">
                            Please Enter Phone Numer
                          </p>

                          <p class="alert alert-danger" *ngIf="(userMobileNum.touched || userMobileNum.dirty) && userMobileNum.errors?.['pattern']">
                            Password should be max 10 digits
                        </p>

                          <input type="submit" [disabled]="f.invalid" value="Register">
                        </form>
                      </div>
                      <div class="cta"><a href="#">Forgot your password?</a></div>
                    </div>
                </div>
                <!-- <script>
                    $('.toggle').click(function(){
                      // Switches the Icon
                      $(this).children('i').toggleClass('fa-pencil');
                      // Switches the forms  
                      $('.form').animate({
                        height: "toggle",
                        'padding-top': 'toggle',
                        'padding-bottom': 'toggle',
                        opacity: "toggle"
                      }, "slow");
                    });
                </script> -->
            </div>
    <!-- //login -->
            </div>
            <div class="clearfix"></div>